* {
  margin: 0;
  padding: 0px;
  overflow: auto;
  text-decoration: none; 
  text-decoration: none; 
  }
  a:visited{
    color:white;
}

.Weather-box{
  background-color: transparent;
  padding: 15px;
  max-width: 500px;
  font-family: 'Beth Ellen';
  border-radius: 5px;
  box-sizing: border-box;
  border: solid 1px;
  background: linear-gradient(rgba(2555,2555,2555,0),rgba(0,0,0,1));
  margin: 50px auto;
}


.Width-50{
  width: 50%;
  display: inline-block;
}

.Width-50 h4{
  margin: 30px;
}

.Width-50 img{
  margin: auto;
  display: block;
}

.App {
  text-align: center;
  
}

.App-header {
  background-image: url("https://wallpaper.dog/large/20470967.jpg");
  background-size: cover;
  background-attachment: fixed;
  min-height: 100vh;
  font-size: calc(10px + 2vmin);
  color: white;
}


