* {
  margin: 0;
  padding: 0px;
  overflow: auto;
  text-decoration: none; 
  text-decoration: none; 
  }
  a:visited{
    color:white;
}

.App {
  text-align: center;
  
}

.App-header {
  background-image: url("https://wallpaper.dog/large/20470967.jpg");
  background-size: cover;
  background-attachment: fixed;
  min-height: 100vh;
  font-size: calc(10px + 2vmin);
  color: white;
}


